

<ion-content [fullscreen]="true" class="fondoinicio">
  
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¡Hola!</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div>
    <!-- <h1>
      Hola
    </h1> -->

  </div>
  <!-- <ion-img expand="block" style="width: 100%; "
  src="../../assets/icon/logo1.png"
   
></ion-img> -->

<div class="divitext">
  <h3>
    Ideas para tu plan de alimentación, con base en tus gustos, necesidades y restricciones, utilizando inteligencia artificial.   
  </h3>

</div>

<!-- En<span> nu3Fact </span> -->
<ion-button class="botoncon" (click)="aLogueo()"  [routerLink]="['/persona']"   >
Comencemos
</ion-button>



  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
